# Local reference copy of the ASD-STE100 specification.
# ASD distributes Issue 9 free of charge, but the standard is copyrighted and
# redistribution is not permitted. Keep it out of the published repo.
reference/
